function Asteroid.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push argument 4
pop this 4
push constant 1
pop static 0
push constant 510
pop static 1
push constant 1
pop static 2
push constant 254
pop static 3
push pointer 0
return
function Asteroid.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Asteroid.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Asteroid.draw 1
pop temp 0
push constant 0
return
function Asteroid.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Asteroid.draw 1
pop temp 0
push constant 0
return
function Asteroid.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 4
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Asteroid.getX 0
push argument 0
pop pointer 0
push this 0
return
function Asteroid.getY 0
push argument 0
pop pointer 0
push this 1
return
function Asteroid.getSize 0
push argument 0
pop pointer 0
push this 4
return
function Asteroid.hit 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push argument 1
push this 0
push this 4
sub
gt
push argument 1
push this 0
push this 4
add
lt
and
push argument 2
push this 1
push this 4
sub
gt
and
push argument 2
push this 1
push this 4
add
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
label IF_FALSE0
push local 0
return
function Asteroid.move 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push pointer 0
call Asteroid.hide 1
pop temp 0
push this 0
push this 2
add
pop this 0
push this 1
push this 3
add
pop this 1
push this 0
push this 4
sub
push static 0
gt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
label IF_FALSE0
push this 0
push this 4
add
push static 1
lt
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 0
label IF_FALSE1
push this 1
push this 4
sub
push static 2
gt
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 0
label IF_FALSE2
push this 1
push this 4
add
push static 3
lt
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 0
label IF_FALSE3
push local 0
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Asteroid.show 1
pop temp 0
label IF_FALSE4
push local 0
return
